.product_index {
	display: block;
	list-style-type: none;
}

.product_index li {
	float: left;
}


.product_index li img {
	height: 140px;
	width: 140px;
}

.product_div:hover {
	box-shadow: 0 0 1px 1px #CCCCCC;
}

.product_div {
	float: left;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 40px;
	padding-left: 12px;
	margin: 8px;
}